body {
    font-family: Arial, sans-serif;
    background-color: #363636;
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
    background-image: url('2.jpg'); 
    background-size: cover; 
    background-position: center;
}
header {
    background-color: #c2c2c2;
    color: #fff;
    font-size: 25px;
}
h1 {
    color: #ffffff;
    padding-left: 1350px;
    font-size: 34px;
}
h2 {
    color: #ffffff;
    padding-left: 1300px;
    font-size: 25px;
}
p {
    color: #ffffff;
    padding-left: 1350px;
    font-size: 22px;
}
.userListItem{
    max-width: 40px;
    text-align: center;
    padding-left: 50px;
}
button {
    background-color: #2F83B6;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 9px;
    cursor: pointer;
}
form {
    margin-bottom: 25px;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-left: 1350px;
}
li {
    background-color: #fff;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
}
li:hover {
    background-color: #f2f2f2;
}
label{
    color: #d8d6f5;
}
#userInfoModal p{
    color: #363636;
    padding-left: 1px;
}
#userInfoModal h2{
    color: #363636;
    padding-left: 1px;
}
#userInfoModal label{
    color: #363636;
    padding-left: 1px;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0, 0.6);
}
.modal-content {
    background-color: #fefefe;
    margin: 20% auto;
    padding: 30px;
    border: 5px solid #f2f2f2;
    width: 40%;
}
.close {
    color: #bababa;
    float: right;
    font-size: 60px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s linear;
}
.visible {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s 0s, opacity 0.5s linear;
}
a.logout-button {
    display: inline-block;
    background-color: #d24b46;
    color: #fff;
    padding: 15px 20px;
    text-decoration: none;
    border-radius: 10px;
    top: 10px;
    font-size: 22px;
    margin-left: 1300px;
}
a.logout-button:hover {
    background-color: #9f2723;
}
#editUsernameForm,
#editEmailForm,
#editRoleForm {
    margin-top: 25px;
    display: none;
}
#editUsernameForm label,
#editEmailForm label,
#editRoleForm label {
    display: block;
    margin-bottom: 10px;
}
#editUsernameForm input,
#editEmailForm input,
#editRoleForm input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}
#editUsernameForm button,
#editEmailForm button,
#editRoleForm button {
    background-color: #2F83B6;
    color: white;
    padding: 15px;
    border: none;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}
#editUsernameForm button:hover,
#editEmailForm button:hover,
#editRoleForm button:hover {
    opacity: 0.9;
}