.container {
  position: relative;
  width: 300px;
  height: 150px;
}

.oxygen{
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background:#db3344;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
} 

.hydrogen, .water {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #3498DB;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

.hydrogen {
  top: 50%;
  left: 10%;
  animation-name: moveHydrogen;
  animation-iteration-count: infinite;
}

.oxygen {
  top: 50%;
  left: 50%;
  animation-name: moveOxygen;
  animation-iteration-count: infinite;
}

.water {
  top: 45%;
  left: 80%;
  animation-name: moveWater;
  animation-iteration-count: infinite;
}

@keyframes moveHydrogen {
  0% {
    left: 10%;
    top: 50%;
  }
  50% {
    left: 40%;
    top: 40%;
  }
  100% {
    left: 50%;
    top: 25%;
  }
}

@keyframes moveOxygen {
  0% {
    left: 50%;
    top: 50%;
  }
  50% {
    left: 60%;
    top: 40%;
  }
  100% {
    left: 50%;
    top: 25%;
  }
}

@keyframes moveWater {
  0% {
    left: 80%;
    top: 45%;
  }
  50% {
    left: 70%;
    top: 35%;
  }
  100% {
    left: 50%;
    top: 15%;
  }
}
.container2 {
  position: relative;
  width: 300px;
  height: 150px;
}

.oxygen{
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background:#db3344;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
} 

.hydrogen, .water {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #3498DB;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

.hydrogen {
  top: 50%;
  left: 10%;
  animation-name: moveHydrogen;
  animation-iteration-count: infinite;
}

.oxygen {
  top: 50%;
  left: 50%;
  animation-name: moveOxygen;
  animation-iteration-count: infinite;
}

.water {
  top: 45%;
  left: 80%;
  animation-name: moveWater;
  animation-iteration-count: infinite;
}

@keyframes moveHydrogen {
  0% {
    left: 20%;
    top: 60%;
  }
  50% {
    left: 50%;
    top: 50%;
  }
  100% {
    left: 60%;
    top: 35%;
  }
}

@keyframes moveOxygen {
  0% {
    left: 60%;
    top: 60%;
  }
  50% {
    left: 70%;
    top: 50%;
  }
  100% {
    left: 60%;
    top: 35%;
  }
}

@keyframes moveWater {
  0% {
    left: 80%;
    top: 55%;
  }
  50% {
    left: 80%;
    top: 45%;
  }
  100% {
    left: 60%;
    top: 25%;
  }
}